.wrapper {
  margin-top: 10px;
  .capsule {
    width: 150px;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;

    height: 60px;
    background-color: var(--yellow);
    p {
      margin: 0;
      display: inline-flex;
    }
  }
  p {
    margin-top: 10px;
  }
}
